<html>
  <head>
    <title>VUE SWAPI</title>
    
    <link rel="stylesheet" href="bulma.css" />
    <link rel="stylesheet" href="chartist.min.css" />
    <link rel="stylesheet" href="icons/css/font-awesome.min.css">

  </head>
  <body>
    <div id="app">
      <nav class="nav has-shadow" id="top">
      <div class="container">
        <div class="nav-left">
          <a class="nav-item" href="#">
            <i class="fa fa-home" aria-hidden="true"></i>
          </a>
        </div>
        <span class="nav-toggle">
          <span></span>
          <span></span>
          <span></span>
        </span>
        <div class="nav-right nav-menu">
          <a class="nav-item is-tab is-active">
            People
          </a>
          <a class="nav-item is-tab">
            Planets
          </a>
        </div>
      </div>
    </nav>
    <section class="section">
      <div class="container content">
      
      <h1>SWAPI <i class="fa fa-bomb"></i> </h1>
      <ul>
        <person v-for="p in people" v-bind:person="p"></person>
      </ul>

      <a v-bind:href="link">Where I got this stuff from</a>

      <h1>{{adate}}</h1>
      {{message}}
      <b v-if="seen">seen</b>
      <ul>
        <li v-for="t in tasks">{{t.name}} — {{t.value+1}}</li>
      </ul>

      <button class="button" v-on:click="doIt"> <i class="fa fa-rocket"></i> &nbsp;   Do it...</button>

      <h2>{{x}}+{{y}}+{{z}}={{parseInt(x,10)+parseInt(y,10)+parseInt(z,10)}}</h2>
      <b class="label">x</b><input class="input" v-model="x" placeholder="enter a number">
      <b class="label">y</b><input class="input" v-model="y" placeholder="enter a number">
      <b class="label">z</b><input class="input" v-model="z" placeholder="enter a number">

      <thing></thing>

      <thingprops v-for="t in tasks" v-bind:task="t" v-bind:message="message"></thingprops>
      
      <button class="button" v-on:click="doPlanetStuff">Get planets and diameters</button>


      <div id="chart"></div>
      <div class="ct-chart"></div>


    </div>

      </div>
    </section>
      




      



    <script src="jquery.js"></script>
    <script src="vue.js"></script>
    <script src="chartist.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>
