<html>
  <head>
    <title>VUE SWAPI</title>
    <script src="vue.js"></script>
    <script src="jquery.js"></script>

  </head>
  <body>
    <div id="app">
    <a v-bind:href="link">Where I got this stuff from</a>
      <h1>{{adate}}</h1>
      {{message}}
      <b v-if="seen">seen</b>
      <ul>
        <li v-for="t in tasks">{{t.name}} — {{t.value+1}}</li>
      </ul>

      <button v-on:click="doIt">Do it...</button>

      <pre>x+y+z={{parseInt(x,10)+parseInt(y,10)+parseInt(z,10)}}</pre>
      <input v-model="x">
      <input v-model="y">
      <input v-model="z">

      <thing></thing>

      <thingprops v-for="t in tasks" v-bind:task="t" v-bind:message="message"></thingprops>


      <h1>SWAPI</h1>
      <ul>
        <person v-for="p in people" v-bind:person="p"></person>
      </ul>
    </div>
    <script>

        Vue.component('thing', {
          template: '<p>a thingy</p>'
        })

        Vue.component('thingprops', {
          props: ['task', 'message'],
          template: '<p>{{task.name}}({{task.value}}) — {{message}}</p>'
        })

        Vue.component('person', {
          props: ['person'],
          template: '<li>{{person.name}}</li>'
        })

        var apiURL = "https://swapi.co/api/";
        var app = new Vue({
          el: '#app',
          data: { 
            message: "HELLO", 
            link:"https://vuejs.org/v2/guide/index.html",
            adate: new Date(),
            seen: true,
            tasks: [{name:"foo", value:0},{name:"bar", value:1},{name:"baz", value:2}],
            x:0,
            y:0,
            z:0,
            people: null
          },
          methods: {
            doIt: function () {
              this.message = "Did It"
            },
            fetchPeople: function () {
              var self = this;
              $.get( apiURL + 'people/', function( data ) {
                  self.people = data.results;
              });
            }
          }
        });
        app.fetchPeople()
        app.tasks.push({ name: 'New item' })


        


    </script>
  </body>
</html>
